@font-face 
{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
html{background-color: #f8be8f;}
body, body a, body a:hover
{
  margin: 0;
  font-family: Montserrat;
  text-decoration: none;
  color: #000000;
}